@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$colors:(
    bg-body: #FFFFFF,
    bg-gray: #F2F2F2,
    bg-orange: #FF432A,
    bg-blue: #0094FF,
    bg-font: #212529
  
);

$font: 'Poppins', sans-serif;

@function color($color-name){
    @return map-get($colors, $color-name);
}


div.main-container{
    background: color(bg-body);
    font-family: $font;
}

html{
    scroll-behavior: smooth;
}

//NAVIGATION SECTION
nav{
    box-shadow: -1px 6px 59px -35px rgba(41,41,41,0.75);
    -webkit-box-shadow: -1px 6px 59px -35px rgba(41,41,41,0.75);
    -moz-box-shadow: -1px 6px 59px -35px rgba(41,41,41,0.75);
    padding: 0 1em;
    div.logo{
       h1{
        font-size: 16px;
        font-weight: bold;
       }
       span.ent{
        font-size: 12px;
        letter-spacing: 5px;
       }
    }

    ul{
        li.nav-item{
            a{  
                color: #212529;
                text-decoration: none;
                list-style: none;
            }
            ul{
                list-style: none;
            }
        }
    }


    div.collapse{
       ul.navbar-nav{
        li.nav-item{
            a.home:hover{
                color: color(bg-orange);
                transition: 0.4s;
            }
            a.shop:hover{
                color: color(bg-orange);
                transition: 0.4s;
            }
            a.about:hover{
                color: color(bg-orange);
                transition: 0.4s;
            }
            a.login:hover{
                color: color(bg-orange);
                transition: 0.4s;
            }
           }
        }

    }
}

//FULLNAME AND EMAIL
div.main-container{
    padding:  4em 1em;
    h1.profileInfo{
        text-align: center;
        margin-bottom: 4em;
        font-weight: bold;
    }
    div.profname-container{
        text-align: center;
        margin-bottom: 4em;
    }
    div.profile-container{
        form{
                font-size: 16px;
        }
    }
    form{
        div.detail-container{
            h2{
                font-size: 20px;
            }
        }
        button{
            padding: .6em;
            width: 100%;
        }
    }

}


// TABLET VIEW 768
@media screen and (min-width: 768px){

    //NAVIGATION SECTION
    nav{
        div.logo{
        h1{
            font-size: 20px;
            font-weight: bold;
        }
        span.ent{
            font-size: 18px;
            letter-spacing: 5px;
          }
        }
    }

    //PROFILE CONTAINER
    div.profile-container{
        form{
            padding: 0 6em;
        }
    }
}

@media screen and (min-width: 992px){

//NAVIGATION SECTION
nav{
    padding: 0 1em;
    align-items: center;

    ul.navbar-nav{
        li.nav-item{
            text-align: center;
            align-items: center;
        }
    }

    div.collapse{
        ul.navbar-nav{
            li.nav-item a{
                font-size: 20px;
                margin-left: 2em;
            }
          }
         }
       }

    //PROFILE CONTAINER
    div.profile-container{
        form{
            padding: 0 10em;
        }
    }
}

// LAPTOP VIEW 1200
@media screen and(min-width: 1200px){

    //Navigation
    nav{
        padding: 0 5em;
        }

            //PROFILE CONTAINER
    div.profile-container{
        form{
          padding: 0 20%;
            
        }
    }

}

// DESKTOP VIEW 1280
@media screen and (min-width: 1280px){

//NAVIGATION
    nav{
        a.navbar-brand{
            h1{
                font-size: 22px;
            }
            span.ent{
                font-size: 20px;
            }
        }

        div.collapse ul{
            li.nav-item{
                a.nav-link{
                    font-size: 18px;
                }
            }
        }
    }
}
